
*{
    margin: 0;
    padding: 0;
}
#pics{
    width: 550px;
    height: 320px;
    border: 1px solid;
    overflow: hidden;/*只显示第一张图片，其他图片隐藏*/
    position: absolute;
    top:100px;
    left: 300px;
}
.pics{
    width: 2200px;
    height: 320px;
    position: relative;
}
.pics li{
    float: left;
}
.pics_pre{
    width: 32px;
    height: 32px;
    background-color: brown;
    position: absolute;
    top:45%;
    left: 0;
    cursor: pointer;
}
.pics_next{
    width: 32px;
    height: 32px;
    background-color: aquamarine;
    position: absolute;
    top:45%;
    right: 0;
    cursor: pointer;
}
.pics_list{
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    background: #8b8878;
    opacity: 0.8;
    cursor: pointer;
    text-align: center；
}
.pics_list li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    float: left;
    position: relative;
    left: 35%;
    margin: 5px;
    list-style: none;
}
