<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>复选框练习</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   <!--  <div id="app">
        <input type="checkbox" v-model="checked" value="html" id="html">
        <label for="html">HTML</label>
        <input type="checkbox" v-model="checked" value="js" id="js">
        <label for="js">JavaScript</label>
        <input type="checkbox" v-model="checked" value="css" id="css">
        <label for="css">css</label>
        <br>
        <p>选择的项是：{{checked}}</p>
    </div>
   
    <script>
        var app=new Vue({
            el:'#app',
            data:{
                checked:[]
            }
        })
    </script> -->

    <!-- 全选功能 -->
    
</body>
</html>